PORT=3000
DATABASE_URL="postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require"

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=571887411963597
CLOUDINARY_API_SECRET=your_api_secret

